__pycache__
*deprecated*
*.DS_Store*
*.bak
*.clean
*.nogit*
*_build*
build
.idea
example/cacheSimulatorC/cmake-build-debug
.vscode/*
*.log
.venv
fig/
# Chaos
sftp-config.json
zipf_1.0.pdf
result
libCacheSim/result
libCacheSim/trace.oracleGeneral.bin.cachesim